[submodule "submodules/opencv"]
	path = submodules/opencv
	url = https://github.com/Itseez/opencv.git
[submodule "tools/styleguide"]
	path = tools/styleguide
	url = https://github.com/google/styleguide
[submodule "tools/limo"]
	path = tools/limo
	url = https://github.com/alexkutsan/limo
